@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'ReemKufiFun';
    src: url(../fonts/ReemKufiFun-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../img/bg-body.png);
}

main {
    flex: 1;
    padding: 0 150px;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 150px;
    min-height: 100px;
    background-color: black;
    color: white;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo-title {
    font-family: 'ReemKufiFun';
    font-size: 1.5rem;
}

.header__nav {
    width: 100%;
    margin: 0 0 0 5%;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.header__nav-item {
    text-transform: uppercase;
    font-size: 14px;
}

.header__button {
    background-color: #A62944;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 10px;
}

.about,
.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider__title {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 50px;
    z-index: 3;

}

.slider__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.card-one {
    position: relative;
    top: 60px;
    left: 250px;
    transform: scale(0.7) rotateZ(-10deg);
    z-index: 1;
}

.card-two {
    position: relative;
    top: 20px;
    left: 100px;
    transform: scale(0.85) rotateZ(-5deg);
    z-index: 2;
}

.card-tree {
    box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.249);
    border-radius: 15px;
    z-index: 3;
}

.card-four {
    position: relative;
    top: 20px;
    right: 100px;
    transform: scale(0.85) rotateZ(5deg);
    z-index: 2;
}

.card-five {
    position: relative;
    top: 60px;
    right: 250px;
    transform: scale(0.7) rotateZ(10deg);
    z-index: 1;
}

.footer__container {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.footer__text--red {
    color: #A62944;
}