@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'ReemKufiFun';
    src: url(../fonts/ReemKufiFun-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../img/bg-body.png);
    overflow-x: hidden;
}

main {
    flex: 1;
    padding: 0 150px;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 150px;
    min-height: 100px;
    background-color: black;
    color: white;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo-title {
    font-family: 'ReemKufiFun';
    font-size: 1.5rem;
}

.header__nav {
    width: 100%;
    margin: 0 0 0 5%;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.header__nav-item {
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.17s ease-in-out;
    cursor: pointer;
}

.header__nav-item:hover {
    color: #A62944;
}

.header__button {
    background-color: #A62944;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 10px;
}

.about,
.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider__title {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 50px;
    z-index: 3;
}

.slider__container {
    width: 100%;
    height: 450px;
    margin-top: 120px;
    margin-bottom: 200px;
    transform: scale(1.25);
}

.carousel-container {
    width: 100%;
    max-width: 1200px;
    height: 450px;
    margin: 100px 0;
}

.carousel-track {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel__card {
    position: absolute;
    width: 340px;
    height: 470px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.6s ease, z-index 0.6s ease;
}

.carousel__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__card.center {
    z-index: 10;
    transform: scale(1.0) translateZ(0);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.278);
}

.carousel__card.left-2 {
    z-index: 1;
    transform: translateX(-400px) scale(0.7) translateZ(-300px) rotateZ(-10deg);
}

.carousel__card.left-1 {
    z-index: 5;
    transform: translateX(-200px) scale(0.88) translateZ(-100px) rotateZ(-5deg);
}

.carousel__card.right-1 {
    z-index: 5;
    transform: translateX(200px) scale(0.88) translateZ(-100px) rotateZ(5deg);
}

.carousel__card.right-2 {
    z-index: 1;
    transform: translateX(400px) scale(0.7) translateZ(-300px) rotateZ(10deg);
}

.advantages__title {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 50px;
    z-index: 3;
}

.advantages__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.advantages__container-img-2{
    position: relative;
    bottom: 70px;
}
.bonuses{
    display: flex;
    justify-content: center;
}
.bonuses__container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.deposit{
    color: white;
    margin: 200px 0;
}
.deposit__title{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
    margin: 80px 0;
}
.deposit__container--text{
    width: 1300px;
    margin: auto;
}
.deposit__container--text p{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
.deposit__container--method{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}
.footer__container {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.footer__text--red {
    color: #A62944;
}